<div class="container">
  <h1>Perfil do Investidor - Questionário</h1>

  <form [formGroup]="questionaireForm"  *ngIf="questionaireForm; else loadContainer">
    <div
      *ngFor="let question of dynamicQuestions; let i = index"
      class="item-container"
    >
      <span class="question">
        {{ i+1 }} - {{ question.question }}
      </span>
  
      <mat-radio-group class="dynamic-inputs" [formControlName]="question.field">
        <mat-radio-button
          *ngFor="let option of question.options; let i = index"
          class="radio-option"
          color="primary"
          [value]="i"
          [ngStyle]="{'flex-basis': 'calc(100% / '+question.options.length+')'}"
        >
          {{ option }}
        </mat-radio-button>
      </mat-radio-group>

      <svg class="separator" width="800" height="4" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <line stroke-dasharray="10, 5" x1="0" y1="1" x2="800" y2="1" style="stroke-width: 2px;"></line>
      </svg>
    </div>

    <div class="item-container">
      <span class="question">
        {{ dynamicQuestions.length + 1 }} - Qual sua familiaridade com os tipos de investimentos abaixo?<br>
        Leve em consideração o valor aplicado nos últimos 2 anos.
      </span>

      <div class="fixed-inputs" formGroupName="investmentsTypes">
        <mat-form-field appearance="standard" *ngFor="let question of investmentsTypesQuestions">
          <mat-label>{{ question.question }}</mat-label>
          <mat-select (openedChange)="loadSelectOptions()" [formControlName]="question.field" >
            <mat-option> {{ selectOptions ? '-' : 'Carregando...'}} </mat-option>
            <mat-option *ngFor="let op of selectOptions; let i = index" [value]="i">
              {{ op }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="actions">
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="['/']"
      >
        Voltar
      </button>
  
      <button
        mat-flat-button
        color="accent"
        [disabled]="questionaireForm.invalid"
        (click)="submitForm()"
      >
        Salvar
      </button>
    </div>
  </form>

  <ng-template #loadContainer>
    <div class="load-container">
      <mat-spinner [diameter]="80"></mat-spinner>
    </div>
  </ng-template>
</div>

<ng-template #success>
  <app-di-successful-registration>
    <div class="resume">
      <div class="dynamic-questions">
        <div *ngFor="let question of dynamicQuestions" class="resume-question-container">
          <span class="question-text">
            {{ question.question }}
          </span>
          <span class="answer">
            {{ getDynamicQuestionsAnswer(question.field) }}
          </span>
        </div>
      </div>

      <h3 class="fixed-question">Familiaridade com os tipos de investimentos:</h3>

      <div class="fixed-questions">
        <div class="resume-question-container" *ngFor="let question of investmentsTypesQuestions">
          <span class="question-text">
            {{ question.question }}
          </span>
          <span class="answer">
            {{ getInvestmentsTypesAnswer(question.field) }}
          </span>
        </div>
      </div>
    </div>
  </app-di-successful-registration>
</ng-template>