/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #673ab7;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
  color: #838381;
  font-size: 14px;
}

.mat-flat-button,
.mat-stroked-button {
  padding: .2em 4em !important;
  text-transform: uppercase;
}

.mat-flat-button[color="accent"] {
  color: #fff !important;
  background-color: #fabd0f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.full {
    height: 100%;
  }
}

.mat-radio-button {
  .mat-radio-label-content {
    max-width: 200px;
    white-space: normal;
    text-transform: uppercase;
    font-size: .9em;
  }

  &.mat-radio-checked .mat-radio-label-content {
    color: var(--primary-color);
  }
}
